@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background-color: #fcffff;
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #E0EEEE;
   
}
.socials{
    display: flex;
    gap: 20px;
}
.socials img{
    width: 25pt;
    aspect-ratio: 1/1;
}

.logo img{
    width: 46pt;
    height: 39pt;
    align-items: center;

}
.links a{
    text-decoration: none;
    color: #59564F;
    font-weight: 300;
    
}
.links{
    display: flex;
    gap:50px;
    align-items: center;
    font-size: 0.8rem;
}
.first-section{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-section h1{
    color: #414D4D;
    text-align: center;
    font-size: 37pt;
}
.logo-section{
    display: flex;
    justify-content: center;
}
.logo-wrapper{
    max-width: 960px;
    display: flex;
    gap: 65px;
}
.testimonial-section{
    height: 600px;
    margin-top: 120px;
    padding: 120px;
    background-color: #C5DDDD;
}
.testimonial-section p{
    font-weight: 700;
    font-size: 34pt;
    color: #414D4D;
    line-height: 1.3;
    margin-top: 30px;
}
.testimonial-section h3{
    color: #414D4D;
    margin-top: 30px;
}
.testimonial-section h3>span{
    font-weight: 300;
}
.features{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.feature-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.more{
    height: 650px;
}
.more h1{
    color: #414D4D;
    text-align: center;
    font-size: 37pt;
}
.more p{
    margin-top: 22px;
    text-align: center;
    color: #566666;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 70px;
}
.img-wrapper{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.below-nav{
    background-color: #C5DDDD;
}
.subscribe{
    height: 430px;
    background-color: rgb(197, 221, 221,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe h1{
    color: #414D4D;
    text-align: center;
    font-size: 37pt;
}
.subscribe p{
    margin-top: 18px;
    text-align: center;
    color: #566666;
    font-weight: 300;
    line-height: 1.4;
}
.input-wrapper{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    border: 2px solid #E0EEEE;
    border-radius: 25pt;
    padding: 20px 27px ;
    max-width: 500px;
    gap: 20px;
}
.input-wrapper input{
    border: none;
    background: none;
    flex: 1;
    width: 250px;
}
.input-wrapper input::placeholder {
    font-size: 14pt;
    color: #566666;
}
.input-wrapper input:focus{
    outline: none;
}
.input-wrapper button{
    border: none;
    background-color: #3D6177;
    border-radius: 16pt;
    padding: 25px 50px 25px 50px;
    color: #FCFEFF;
    font-size: 20px;
    font-weight: 800;
}
.below{
    background-color: #fcffff;
    border-color: #C5DDDD;
}