@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
     font-family: "DM Sans", sans-serif;
     scroll-behavior: smooth;
}
html,body{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    background-color: #F9FAFC; 
}

nav{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.logo img{
    width: 120px;
}
.links a{
    margin-right: 22px;
    text-decoration: none;
    font-weight: 300;
    font-size:11pt;
    color: rgb(38, 38, 38,0.6);
    transition: 0.5s ease;
}
.links .active{
    color: black;
    font-weight: 500;
}
.links a:hover{
    color: black;
    cursor: pointer;
    
}
.search{
    padding: 7px 15px;
    background-color: #B8C2CE;
    border-radius: 6pt;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        transition: 0.38s ease;
}
.search:hover{
    background-color: #262626;
}
.lander{
    max-height: 750px;
    position: relative;
  /* background-color: red; */
}
.title{
    max-width: 470px;
    position: absolute;
    transform: translate(32%,40%);
    z-index: 1;
}
.title h1{
    font-weight:900;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 0.83;
    background: linear-gradient(#262626,#B8C2CE);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-img{
    position: absolute;
    z-index: 20;
    transform: translate(36%,11%);
}
.bg-img{
    opacity: 80%;
    filter: grayscale(100%) sepia(50%) hue-rotate(180deg);
    position: translate(-4%,-75%);
}
.right-img{
    
    height: 555px;
    width: 270px;
    position: absolute;
    z-index: 7;
    transform: translate(1040px,115px);
    display: flex;
    flex-direction: column;
    gap: 31px;
}
.today{
    background-color: #E1E8F0;
    color: #B8C2CE;
    padding: 3px 16px;
    max-width: 90px;
    font-size: 20px;
    border-radius: 3pt;
}

.continue a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 3px;
    position: absolute;
    transform: translate(240%,690px);
    background-color: #262626;
    padding: 18px 32px;
    border-radius: 6pt;
}
.above-continue{
    position: absolute;
    transform: translate(600px,600px);
    font-weight: 300;
    color: #262626;
}

.category h1{
    font-weight:900;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 0.83;
    background: linear-gradient(#262626,#B8C2CE);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.head-cat{
    background-color: #EBEEF3;
    padding: 20px 30px;
    border-radius: 6pt;
}
.category{
    /* background-color:rgb(4, 126, 232) ; */
    margin-top: 300px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-height: 900px;
}
.category p{
    font-size: 23px;
    position: absolute;
    transform: translate(-565px,-240px);
}
.one, .two, .three, .four{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trending{
    background-color: #EBEEF3;
    max-width: 1250px;
    height: 610px;
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img1{
    margin-left: 40px;
}
.img1 p{
    font-size: 23px;
    margin-bottom: 20px;
}
.newsletter{
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    background-color: #EBEEF3;
    min-height: 380px;
    background-image: url("Group\ 143726076.svg");
    background-repeat: no-repeat;
    background-position:right -43px;
}
.newsletter h1{
    font-weight:900;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 0.83;
    background: linear-gradient(#262626,#B8C2CE);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    translate: 11% 50%;
}
.input-email{
    display: flex;
    justify-content: space-between;
    border: 2px solid #262626bc;
    border-radius: 6pt;
    min-height: 50px;
    max-width: 500px;
    translate: 145px 110px;
}
.input-email input{
    border: none;
    padding: 10px 30px;
    background-color: transparent;
}
input:focus{
    outline: none;
}
button i{
    rotate: -45deg;
    color: #EBEEF3;
}
.input-email input::placeholder{
    font-size: 17px;
    color: rgba(38, 38, 38, 0.37);
}
button{
    border: none;
    background-color: #262626;
    width: 60px;
    aspect-ratio: 1/1;
}
main{
    margin-bottom: 25px;
}
footer p{
    text-align: center;
}
footer p span{
    font-size: 21px;
    color: #2e2e2e;
}
.made-by{
    padding-bottom: 20px;
}
.made-by a{
    color: rgb(38, 132, 240);
}